*{
    margin: 0;
    padding: 0;
}
.flexbox {
    width: 90vw;
    margin: 10px auto;

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    row-gap: 10px;
}

h1{
    text-decoration: underline;
}
.start{
    align-self: flex-start;
}

p{
    text-indent: 50px;
}

ul{
    margin-left: 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(17, 212, 196);
    color: #ffffff;
    height: 50px;
    font-size: larger;
    position: sticky;
    top: 0;
}

.justify-content-start{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: rgb(16, 235, 206);
}
.justify-content-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(117, 50, 100);
}
.justify-content-end{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    background-color: rgb(72, 78, 13);
}
.align-content-start{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 300px;
    background-color: rgb(47, 13, 78);
}
.align-content-between{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(47, 13, 78);
}
.align-content-end{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 300px;
    background-color: rgb(47, 13, 78);
}

.flex-container-row {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
.flex-container-row-reverse {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.flex-container-col {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
.flex-container-col-reverse {
  display: flex;
  flex-direction: column-reverse; 
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.flex-item {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}